<frameset rows="25%,65%,*">
    <frame name="header" src="header.html"></frame>
    <frameset cols="20%,*">
        <frame name="menu" src="menu.html"></frame>
        <frame name="isi" src="isi.html"></frame>
    </frameset>
    <frame name="footer" src="footer.html"></frame>
</frameset>